.fade{
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.iframe{
    margin-left: 80px;
    width: 600px;
    height: 600px;
    overflow: hidden;

}

.dl{
    margin-left: 280px;
    width: 200px;
    height: 100px;
}